#menu{
    width: 100%;
    display: block;
}

.text{
    margin: 35px auto;
    bottom: 0;
    background: rgba(218, 218, 218, 0.555);
    color: #f1f1f1;
    width: 800px;
    padding: 20px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 84vh;
}

.text::-webkit-scrollbar{
    display: none;
}

.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#starField{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    #starField {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    #starField {
      width: 300%;
      left: -100%;
    }
  }

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
  }
  
  li {
    float: left;
    border-radius: 10px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  li a:not(.active) {
    background-color: rgba(255, 115, 0, 0.452);
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 147, 59);
  }

  .active:hover {
    background-color: orangered;
  }

  .active {
    background-color: rgb(255, 115, 0);
  }
  
  #contact{
      float: right;
  }

