#menu{
    width: 100%;
    display: block;
}

.content{
    margin: 35px auto;
    bottom: 0;
    background: rgba(218, 218, 218, 0.555);
    color: #f1f1f1;
    width: 800px;
    padding: 0 30px 0px 30px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: 84vh;
    text-align: justify;
}

.content::-webkit-scrollbar{
    display: none;
}

.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
  }
  
  li {
    float: left;
    border-radius: 10px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  li a:not(.active) {
    background-color: rgba(255, 115, 0, 0.452);
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 147, 59);
  }

  .active:hover {
    background-color: orangered;
  }

  .active {
    background-color: rgb(255, 115, 0);
  }
  
  #contact{
      float: right;
  }

  .hoofd{
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .portretContainer:hover .hoofd {
    opacity: 0.3;
  }
  
  .portretContainer:hover .middle {
    opacity: 1;
  }
  
  .socials {
    color: white;
    font-size: 16px;
    margin-left: 15px;
  }

.portretContainer{
  float: right;
  position: relative;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin: auto;
}

.linkedIn{
  width: 20%;
}
#canvas2d { 
  border: 1px solid black;
  background: black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas: 
  "topinfo topinfo topinfo"
  "project1 project2 project3"
  "project4 project5 project6";
}

.gridTopInfo{
  padding-top: 10px;
  grid-area: topinfo;
}

.project1{
  grid-area: project1;
}
.project2{
  grid-area: project2;
}
.project3{
  grid-area: project3;
}
.project4{
  grid-area: project4;
}

#projectTile{
  border: 1px solid black;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}

.loremPicsum{
  margin-left:auto;
  margin-right:auto;

}